
/data/examples/Bedretto
/data/examples/Bohemia
/data/examples/SECOS_20260116
/data/examples/Stressfield
/hyfi_bohemia
/secos25_runs
/bohemia_runs
/src/hyfi.egg-info
/build
*.pyc
*.nbi
*.nbc
/data/examples_nonpublic
/config/config_nonpublic
